@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul,
  ol {
    list-style: revert;
  }
}
body {
  font-family: Helvetica, sans-serif;
  --tw-bg-opacity: 1;
  background-color: rgb(39 39 42 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(241 245 249 / var(--tw-text-opacity));
  letter-spacing: 0.025em;
  font-weight: 300;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

::selection {
  background: #fb7185;
}

ul {
  list-style-position: outside;
  margin-left: 1em;
}
